.icon-big { 
    font-size: 350%;
    display: block; 
    color: $color-orange;
    margin-bottom: 10px; 
}

.icon-small { 
    display: inline-block;
    width: 30px;
    text-align: center;
    color: $color-orange;
    font-size: 120%;
    margin-right: 10px;
}