.icon-big { 
    font-size: 350%;
    display: block; 
    color: $color-orange;
    margin-bottom: 10px; 
    transform: translateY(-5px);
    transition: transform 0.2s;
}

.icon-big:hover {
  cursor: pointer;
  transform: translateY(0px);
}

.icon-small { 
    display: inline-block;
    width: 30px;
    text-align: center;
    color: $color-orange;
    font-size: 120%;
    margin-right: 10px;
    margin-top: 2px;
}