.button:link,
.button:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.button-full:link,
.button-full:visited,
input[type=submit] {
    background-color: $color-orange;
    border: 1px solid $color-orange;
    color: $color-white;
    margin-right: 15px;
}

.button-border:link,
.button-border:visited {
    border: 1px solid $color-orange;
    color: $color-orange;
}

.button:hover,
.button:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: $color-dark-orange;
}

.button-full:hover,
.button-full:active {
    border: 1px solid $color-dark-orange;
}

.button-border:hover,
.button-border:active {
    border: 1px solid $color-dark-orange;
    color: $color-white;
}
