
.contact-form {
    width: 100%;
    margin: 0 auto;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

select {
    height: 30px; 
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}

#yes-please {
    font-size: 90%;
}

.map-box {
    width: 100%;
    height: 500px; 
    position: relative;
    z-index: 0;
}

.map {
    width: 100%;
    height: 500px; 
}

.form-box {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10;
    width: 50%;
    height: 100%;
    background-color:  rgba(255,255,255,0.8);
    padding-top: 20px;
}

.form-box h2 {
    font-size: 150%; 
}

.form-box label {
    font-size: 90%; 
}

